    <script type="text/javascript">
        //点击按钮弹出下拉框
        $('.ui.dropdown').dropdown();
        //鼠标悬浮在头像上，弹出气泡提示框
        $('.post-content .avatar').popup({
            inline: true,
            position: 'bottom right',
            lastResot: 'bottom right',
        });

        $('.weixin-login').on('click',function(){
            console.log('微信登录');
            window.location.href='https://open.weixin.qq.com/connect/qrconnect?' +
                'appid=*******&redirect_uri=http%3a%2f%2fwww.xxxxxx.com%2f'+window.location.pathname.substr(1)+'&response_type=code&scope=snsapi_login&state=3d6be0a4035d839573b04816624a415e#wechat_redirect';
        });
    </script>
    </body>
</html>