 <% include header %>
    <% if(posts.length === 0){ %>
        <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <p>还没有发表文章</p>
        </div></div>
    <% } %>
    <% posts.forEach(function (post) { %>
        <%- include('components/post-content', { post: post }) %>
    <% }) %>
 <% include footer %>